# Terraform files
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json
.terraform/
.terraform.lock.hcl

# Sensitive files
*.pem
*.key
*.env

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# macOS / system files
.DS_Store
